OPENAI_API_KEY=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=


GMAIL_SENDER_EMAIL=your.email@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
EMAIL_RECIPIENT=reciever.email@gmail.com
EMAIL_HOURS = 24 # give the hours you want to scrape and email the news 